<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link" href="/users/sign-in">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/users/sign-up">Register</a>
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://accounts.practo.com/static/images/illustration.png" class="img-fluid" alt="Sign Up Image">
        </div>
        <div class="col-md-6">
            <h2>Sign Up</h2>
            <form>
               <div class="form-group">
                   <label for="fullName">Full Name</label>
                   <input type="text" class="form-control" id="fullName" placeholder="Enter your full name">
               </div>
               <div class="form-group">
                   <label for="email">Email address</label>
                   <input type="email" class="form-control" id="email" placeholder="Enter your email">
               </div>
               <div class="form-group">
                   <label for="password">Password</label>
                   <input type="password" class="form-control" id="password" placeholder="Enter your password">
               </div>
               <div class="form-group">
                   <label for="confirmPassword">Confirm Password</label>
                   <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password">
               </div>
               <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>